{
    "presets": [
      "env",
      "react",
      "stage-1"
    ],
    "plugins": [
    ],
    "env": {
      "production": {
        "plugins": [
          "transform-react-constant-elements",
          "transform-react-remove-prop-types",
          "transform-object-rest-spread"
        ]
      }
    }
  }